*{
    padding: 0px;
    margin: 0px;    
}
#wrapper{
    width: 1000px;
    margin: 10px auto;
    background-color: #f1f1f1;
    padding: 20px;
}
.chat_wrapper{
    width: 70%;
    margin: 10px auto;
    background-color: #fff;
}
#chat{
    min-height: 300px;
    height: 300px;
    overflow: auto;
    border: 1px solid #b3b3b3;
    padding: 10px;
}
.textarea{
    width: 97%;
    border: 1px solid #b3b3b3;
    outline: none;
    padding: 10px;
}
.singleMessage{
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #b3b3b3;
}
.singleMessage span {
    float: right;
}